* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    /* For all the HTML elementens */
}

/** The styling for index.html begins here **/
.index-header {
    min-height: 100vh; /* minimum height of the element to 100% of the viewport height */
    width: 100%; /* cover the entire width of the container*/
    background-image: url(../Bilder/pilestredet.jpeg); /* source: https://www.oslomet.no/om/studiested-pilestredet */
    background-position: center; /* centers the image */
    background-size: cover; /* covers the entire container and maintains the aspect ratio */
    position: relative; /* position relative to its normal positition*/
    padding-bottom: 2rem; /* padding at the bottom of the element. 1rem equals 16px, so 2rem is 32px */
}

/* Styling for the navigation links starts here*/

.nav {
    display: flex; /* Flexible boxes. Source: https://www.w3schools.com/css/css3_flexbox.asp*/
    padding:2% 6%;
    justify-content: space-between; /*space between items*/
    align-items: center; /*center the items*/
}
.nav-links {
    background-color: black;
    flex: 1; /* occupies the text on the row*/
    text-align: right; /* text on the right side*/
}

/* Styling for the list items within the navigation link*/
/* I used https://devdevout.com/px-to-rem to convert from px to rem*/
.nav-links ul li { 
    list-style: none; /* removes the bullet points*/
    display: inline-block;
    padding: 0.5rem 0.75rem; /* creates space between the links*/
    position: relative;
}

.nav-links ul li a {
    color:white;
    text-decoration: none;
    font-size: 1.25rem;
}

/* Pseudo element to style a specific part of an element. Source https://www.w3schools.com/css/css_pseudo_elements.asp*/
.nav-links ul li::after { 
content: ""; /* Empty content*/
width: 0%; /* hidding the underline*/
height: 0.125rem; /* thickness of the hover underline */
background: #eee95b ;
display: block; /*block element*/
margin: auto; /*center the underline*/
transform: 0.5s; /* transition effect for hover effect*/
}

.nav-links ul li:hover::after {
width: 100%; 
}

.index-textbox {
    width: 90%;
    color:rgb(234, 120, 38);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); /* centering the text in the div*/
    text-align: center;
}

/** Header content styling*/
.index-header-content {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1.25rem;
    border-radius: 0.625rem;
}

.index-header-content h1 {
    color: orange;
    font-size: 3.875rem;
    margin-bottom: 0.625remx; /* Margin at the bottom*/
}

.index-textbox p{
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    padding:1.25rem;
    border-radius:0.625rem; /*Round corners*/
}
/* Styling for buttons*/
.index-button {
    display: inline-block;
    text-decoration: none; /* Removes default text decoration*/
    color:#fff;
    border: 0.125rem solid #fff;
    padding: 0.9375rem 2.5rem;
    font-size: 1.125rem;
    background-color: rgba(0, 0, 0, 0.8);
    position: relative;
    cursor: pointer;
    transition:all 0.3s ease; /* add tranisition for smoother effect*/
    border-radius:0.3125rem;
}

.index-button:hover {
    border: 1px solid orangered;
    background: orangered;
    transition: 1s;
}

/*Media query for small screens links*/
@media (max-width: 700px) and (min-width:701px) {
    
.nav-links ul li {
    display: block;
}
.nav-links {
    position: absolute; 
    background: #eee95b;
    height: 100vh; 
    width: 12.5rem;
    top:0;
    right: -12.5rem; /* hides the menu bar when scaling on phone*/
    text-align: left;  }

    .index-textbox h1 {
        font-size: 1.25rem;
}
}

.index-main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

.map-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /*Two columns*/
    gap: 2rem;
    align-items: center;
}

/* Styling for the map*/
.index-map {
    width: 100%;
    height: 100%;
}

.map-text {
    padding: 1rem 2rem; /* first value top and second value is bottom */
}

.opening-hours, .closed{
    color:#980000
}

/* index footer*/

.index-footer {
    text-align: center;
    height: 3.75rem;
    background-color: #000;
    color:#eee95b
}




/*indexpage finish*/

/*Accesibilitypage begins*/
main {
   margin:0 30%; /* creates a narrower page for readability*/
}

h1 { /* Centers text, and creates space over and under the h1*/
    margin-top: 10%;
    margin-bottom: 60px;
    text-align: center;
}

h2 { /* Creates space under the h2*/
    margin-bottom: 8%;
}

h3{ /* Creates space under the h3*/
    padding-bottom: 5%;
}

.introduction { /* Styles the introduction paragraph of the accesibility page*/
    font-size: 1.2em;
    color: #555;
    margin-bottom: 5%;
}


aside { /* Positions and styes the aside box with information about accesibility */
    float: right; 
    width: 35%;
    padding: 15px;
    margin-left: 5%;
    font-style: italic;
    background-color: rgba(93, 212, 216, 0.3);
    border-radius: 10px;
    
}

@media (max-width: 799px) { /* Centers aside by inheriting position of main when Screen width less than 800px */
   aside {
     float: none; 
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
    }
}



 
footer { /* Creates a grid structure inside footer, ads color to text and background*/
    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-items: center;
    background-color: #EA486E;
    color: black;
}

#logo { /* Positions group logo to the left and fills the navbar with the logo*/
    height:100%;
    float: left;
}
#burger-toggle { /* Hides the checkbox of the toogle box*/
    display: none;
}


.accessibility nav { /* Adds correct height and white background to nav*/
   background-color:white;
    height: 40px;  
    
}

@media (min-width: 800px) { /*Controls how the navbar is displayed when screen larger than 800px */

    .menu {  /* */
    display: flex; /* Spreads the page links vertically over the navbar*/
    list-style-type: none;
    margin-left: 5%;
    margin-right: 10%;
    height: 60px;
    border-bottom-style: solid;
    border-color: #555;
}

.active {
    height:100%;
    display: flex;
    align-items: center;
    border-bottom-style: solid;
    border-bottom-width: thick;
    border-bottom-color: #EA486E;
    
}

.menu a {
text-decoration: none;
   font-weight: bold;
   font-size: 1.3em;
   padding-right: 1em;
   padding-left: 1em;
   color:#000;
}

.menu li{
    height: 100%;
    display: flex;
    align-items: center;
    color:#000;
}

.menu a:hover {
    color:#d6d2c4;
    height:100%;
    display: flex;
    align-items: center;
    background-color: black;
}
}

@media (max-width: 799px) {
    main {
        margin:0 5%;
     }

    .accessibility {
        background-color:black;
    }

.menu-icon {
    display: block;
    background-image: url("../Bilder/menu-bar.png");
    background-size: cover;
    height:40px;
    width:40px;
    float: right;
    margin-right: 3%;
}


.hamburger-toggle-container {cursor: pointer;}

@media (max-width: 799px) {
  #logo {
    display: none;
  }
}



header{
    margin-bottom:70px;

}
.menu a:hover {
    color:#d6d2c4;
    height:100%;
    width: 100%;
    background-color:#000;
    display: flex;
    align-items: center;


}
.menu a {
    text-decoration: none;
       font-weight: bold;
       font-size: 1.3em;
       padding-left: 3em;
       color:#000;
       text-decoration: none;
       line-height: 2em;
    }
    
.menu li {
    height: 0px;
    overflow: hidden; 
    display: flex;
    align-items: center;
}
#burger-toggle:checked~.menu li {
    height: 100%;
    background-color: #d6d2c4;
    color: white;
    width: 100%;
}
}

/*Accessibility page finish*/


/*For the topical page:*/

#openAI-image{
    max-width: 150%;
    max-height: 150%;
    padding-left: 100px;
}

#chatGPT-img{
    max-width: 50%;
    max-height: 50%;
    margin-left: 100%;
}

#topical-head1{
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
    padding-bottom: 5%;
}

#bilde-under{
    text-align: right;
    padding-right: 12%;
}

#bluebox-chatgpt{  
    width: 100%;
    padding: 20px;
    background-color: rgba(93, 212, 216, 0.3);
    border-radius: 10px;
    vertical-align: middle;
    margin-bottom: 10%;
}

.chatgpt {
    display: flex;
    align-items: center; 
    justify-content: center;
    padding-bottom: 5%;
}

/*Topical page finish*/


/*Library page: */

/*Style for the main heading in the library*/
.h1library {
    margin-top: 5%; /*Provides 5% top margin*/
    margin-bottom: 10%; /*Provides 10% bottom margin*/
    text-align: center; /*Centers the main heading*/
}
/*Style for the image on library page*/
#libraryImg{
    max-width: 40%; /*Limits the max width to 40% of the parent element*/
    max-height: 40%; /*Limits the max height to 40% of the parent element*/
    padding-left: 100px; /*100 pixels left padding for the image*/
}

/*Basert på aside*/

/*Style for blue box header with opening hours*/
.blue-box-header { 
    padding: 15px; /*Adds 15px of padding inside the box*/
    background-color: rgba(93, 212, 216, 0.3); /*Sets the background color for the box*/ 
    border-radius: 10px; /*Applies a border radius of 10px for rounded corners*/
}
/*Style for the weekly newsletter box*/
.newsletter-box { 
    width: 80%; /*Sets the width for the box to 80% of its container*/
    padding: 15px; /*Adds 15px of padding inside the box*/
    background-color: rgba(93, 212, 216, 0.3); /*Sets the background color for the box*/
    border-radius: 10px; /*Applies a border radius of 10px for rounded corners*/
}
/*Style for the heading inside the newsletter box*/
.newsletter-box h3{
    padding-top: 3%; /*Adds 3% padding to the top of the heading inside the box*/
    text-align: center; /*Centers the heading*/
}
/*Style for the form inside the newsletter box*/
.newsletter-box form{
    text-align: center; /*Centers the text inside the box*/
}

/*Library page finish*/




