* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    /* For alle HTML elementene */
}

.index-header {
    min-height: 100vh;
    width: 100%;
    background-image:url(../Bilder/oslometbygg.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
    padding-bottom: 2rem;
}

.nav {
    display: flex;
    padding:2% 6%;
    justify-content: space-between;
    align-items: center;
}

/* Styling for the navigation links starts here*/
.nav-links {
    background-color: black;
    flex: 1; /* occupies the text on the row*/
    text-align: right; /* text on the right side*/
}

.nav-links ul li { 
    list-style: none; /* removes the bullet points*/
    display: inline-block;
    padding: 8px 12px; /* creates space between the links*/
    position: relative;
}

.nav-links ul li a {
    color:white;
    text-decoration: none;
    font-size: 1.25rem;
}

.nav-links ul li::after { 
content: "";
width: 0%; /* hidding the underline*/
height: 2px; /* thickness of the hover underline */
background: #eee95b ;
display: block;
margin: auto;
transform: 0.5s; /* tiden til å reagere på hovere*/
}

.nav-links ul li:hover::after {
width: 100%;
}

.index-textbox {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); /* centering the text in the div*/
    text-align: center;
}

.index-textbox h1 {
    font-size: 62px;
}

.index-textbox p{
    margin: 10px 0 40 px;
    font-size: 14px;
    color: #fff;
}

.index-button {
    display: inline-block;
    text-decoration: none;
    color:#fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.index-button:hover {
    border: 1px solid #eee95b;
    background: #eee95b;
    transition: 1s;
}


@media (max-width: 700px) {
    .index-textbox h1 {
        font-size: 20px;
}
.nav-links ul li {
    display: block;
}
.nav-links {
    position: absolute;
    background: #eee95b;
    height: 100vh; 
    width: 200px;
    top:0;
    right: -200px; /* hides the menu bar when scaling on phone*/
    text-align: left;  }
}

.index-main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

.map-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /*Two columns*/
    gap: 2rem;
    align-items: center;

}

.index-map {
    width: 100%;
    height: 100%;
}

.map-text {
    padding: 1rem 2rem; /* first value top and second value is bottom */
}

.opening-hours, .closed{
    color:#EA486E
}

.index-footercopyright {
    position: absolute;
    bottom:30;
    left: 0;
    width: 100%;
    background-color: #000000;
    padding: 0.1rem;
    padding-bottom: 0.2rem;
    box-sizing: border-box;
}

.index-footercopyright p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color:#eee95b;
}




.main {
   margin:0 30%;
}

h1.accesibility {
    margin-top: 20px;
    margin-bottom: 60px;
   text-align: center;
}

h2 {
    margin-bottom: 30px;
}


p {
    line-height: 1.5em;
    margin-bottom: 30px;
    color: rgb(46, 46, 46);
}

.introduction {
    font-size: 1.2em;
    color: #555;
}


/*For the topical page */

.topical-main{
    margin:0 20%;
}

.topical-main h3{
    text-align: center;
}

#openAI-image{
    max-width: 150%;
    max-height: 150%;
    padding-left: 100px;
}

#topical-head1{
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
}

/*Topical page finish*/

aside { 
    float: right; 
    width: 35%;
    padding: 15px;
    margin-left: 15px;
    font-style: italic;
    background-color: rgba(93, 212, 216, 0.3);
    border-radius: 10px;
    vertical-align: middle;

}

/* burde vi flytte denne lengre opp?*/
@media (max-width: 799px) {
   aside {
     float: none; 
     width: 100%;
     position: inherit;
    }
}
.main li {
margin-bottom: 5px;
}

footer {
    text-align: center;
    background-color:#EA486E;
    position:sticky;
    margin-bottom: 0%;
    height: 100px;
}

#logo {
    height:100%;
    float: left;
}
#burger-toggle {
    display: none;
}


.accessibility nav {
   background-color:white;
    height: 40px;  
    
}

@media (min-width: 800px) {

    .menu {
    display: flex;
    list-style-type: none;
    margin-left: 5%;
    margin-right: 10%;
    height: 60px;
    border-bottom-style: solid;
    border-color: #555;
}

.active {
    height:100%;
    display: flex;
    align-items: center;
    border-bottom-style: solid;
    border-bottom-width: thick;
    border-bottom-color: #EA486E;
    
}

.menu a {
text-decoration: none;
   font-weight: bold;
   font-size: 1.3em;
   padding-right: 1em;
   padding-left: 1em;
   color:#000;
}

.menu li{
    height: 100%;
    display: flex;
    align-items: center;
    color:#000;
}

.menu a:hover {
    color:#d6d2c4;
    height:100%;
    display: flex;
    align-items: center;
    background-color: black;
}
}




@media (max-width: 799px) {
    .main {
        margin:0 5%;
     }

    .accessibility {
        background-color:black;
    }

.menu-icon {
    display: block;
    background-image: url("../Bilder/menu-bar.png");
    background-size: cover;
    height:40px;
    width:40px;
    float: right;
    margin-right: 3%;
}


.hamburger-toggle-container {cursor: pointer;}

@media (max-width: 799px) {
  #logo {
    display: none;
  }
}

header{
    background-color: #EA486E;
    margin-bottom:70px;

}
.menu a:hover {
    color:#d6d2c4;
    height:100%;
    width: 100%;
    background-color:#000;
    display: flex;
    align-items: center;


}
.menu a {
    text-decoration: none;
       font-weight: bold;
       font-size: 1.3em;
       padding-left: 3em;
       color:#000;
       text-decoration: none;
       line-height: 2em;
    }
    
.menu li {
    height: 0px;
    overflow: hidden; 
    display: flex;
    align-items: center;
}
#burger-toggle:checked~.menu li {
    height: 100%;
    background-color: #d6d2c4;
    color: white;
    width: 100%;
}
}


/* Felles stiler for like stiler */


/*Library page: */

.h1library {
    margin-top: 20px;
    margin-bottom: 60px;
   text-align: center;
}
#libraryImg{
    max-width: 40%;
    max-height: 40%;
    padding-left: 100px;
}



/*Library page finish*/